@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(17, 24, 39);
  background: #f9fafb;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}
